.section-heading--vertically-spaced {
  padding-top: 11rem;
}
.heading--main {
  @include centered-ultra-large-heading;
  text-transform: capitalize;
}
.heading--white {
  color: white;
}
.subheading--medium {
  @include centered-large-subheading;
}
.subheading--vertically-spaced {
  padding-top: 1.5rem;
}
.subheading--base-color {
  color: $base-color;
}
.paragraph--small-text {
  @include pricing-font-middle;
}
.paragraph--vertically-spaced {
  padding-top: 1.5rem;
}
.paragraph--small-text-color {
  color: $small-text-color;
}
