.here-is-what {
  width: 100%;
}
.flex-container--vertical {
  display: flex;
  flex-direction: column;
}
.flex-container__here-is-what {
  padding: 9rem 0 7rem 4rem;
  column-gap: 2rem;
}
.flex-container--one-column {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.flex-container--grey-background {
  background-color: $grey;
}
.subheading--large {
  @include main-heading-font;
}
.flex-container--vertical {
  width: 50%;
}
.flex-container__item--text {
  width: 80%;
}
.flex-container__row-element {
  justify-content: space-between;
}
.flex-container--bigger-part {
  flex: 7;
}
.subheading--left-aligned {
  text-align: start;
}

.flex-container--features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}
.editor-background {
  width: 100%;
  height: 40rem;
  background-image: url("../img/editor 1.png");
  background-size: cover;
}
.flex-container__text {
  @include small-subheading-font;
  text-align: left;
}
.flex-container__text--small-text-color {
  color: $small-text-color;
}
.small-subheading {
  @include second-screen-subheading-font;
}
.subheading--vertically-spaced {
  margin-bottom: 2rem;
}
